body{
    background-image: url('siteimages/notebookcover.jpg');
  }

  /*text style*/
  h2{
    margin-top: 25px;
    font-size: 50px;
    font-family: "Rockwell";
    margin-bottom: 10px;
  }
  h3{
    font-family: "comic sans ms";
    margin-bottom: 15px;
    margin-top: 10px;
    text-align: justify;
  }

  article {
    margin-left: 180px;
    padding: 0px 0px;
    margin-right: 20px;
  } 

  /*navigation bar*/
  .sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #81415b;
    overflow-x: hidden;
    padding-top: 20px;
  }
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    font-family: "Rockwell";
    color: #f5a5ca;
    display: block;
  }
  .sidenav a:hover {
    color: #ffffff;
  }

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  /*header*/
  header {
    top: 0%;
    margin-left: 153px;
    width: 100%;
    object-fit: cover;
    display: flex;
    position: fixed;
    display: inline-block;
  }

  /*footer*/
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 3px;
    background-color: rgb(255, 127, 169);
    color: white;
    display: block;
  }
  
  
